<!DOCTYPE html>
<html lang="en">
<head>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rada</title>
	<%- include("partials/headers") -%>
</head>
<body>

	<%- include("partials/bar") -%>
	<!-- /navbar -->



	<div class="wrapper" id="cambio">
		<div class="container">
			<div class="row">
				<div class="span3">
					<%- include("partials/sidebar") -%><!--/.sidebar-->
				</div><!--/.span3-->


				<div class="span9">
					<div class="content">

						<div class="module">
							<div class="module-head">
								<h3>Nueva anotación</h3>
							</div>
							<div class="module-body">
								<div class="stream-composer media">
									<a href="#" class="media-avatar medium pull-left">
										<img src="/css/images/user.png">
									</a>
									<div class="media-body">
										<form action="/users/add" method="POST" enctype="multipart/form-data">
										<div class="controls">
													<input type="text" name="title" id="grupo" placeholder="Titulo." class="span3">
													<span class="help-inline"></span>
										</div>
										
										<div class="row-fluid">
											<textarea name="descripcion" class="span12" style="height: 70px; resize: none;"></textarea>
											
										</div>
										<div class="clearfix">
											<input value="Publicar nota" type="submit" href="#" class="btn btn-primary pull-right">
												
											
											<input value="" type="file" id="holi" name="image"
											rel="tooltip" data-placement="top" data-original-title="Upload a photo" style="opacity: 0;">
											<label for="holi"><i class="icon-camera shaded"></i></label>	
										    
										</div>
									    </form>
									</div>
								</div>

								<div class="stream-list">
									




									<% for (var i=photos.length-1; i > -1; i--){ %>

									<div class="media stream">
										<a href="#" class="media-avatar medium pull-left">
											<img src="/css/images/user.png">
										</a>
										<div class="media-body">
											<div class="stream-headline">
												<h5 class="stream-author">
													<%= photos[i].title %>
													<small>08 July, 2014</small>
												</h5>
												<div class="stream-text">
													<%= photos[i].descripcion %> 
												</div>
												<div class="stream-attachment video">
													<div class="responsive-video">
														
                                                        
														<img src="<%= photos[i].imageURL%>" class="card-img-top" alt="<%= photos[i].public_id %>">
                                                        
													</div>
												</div>
											</div><!--/.stream-headline-->

										</div>
									</div><!--/.media .stream-->
									<div class="stream-options medium pull-right">
										<a href="#" class="btn btn-small">
											<i class="icon-thumbs-up shaded"></i>
											Like
										</a>
										<a href="/users/eliminarNoticia/<%= photos[i]._id %>" class="btn btn-small">
											<i class="icon-double-angle-left"></i>
											Delete
										</a>
									</div>

									<% } %>




									<div class="media stream load-more">
									
									</div>
								</div><!--/.stream-list-->
							</div><!--/.module-body-->
						</div><!--/.module-->
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	<div class="footer">
		<div class="container">
			 

			<b class="copyright">&copy; 2021 ESIME ZACATENCO </b> ICE.
		</div>
	</div>

</body>