<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rada</title>
        <%- include("partials/headers") -%>
    </head>
    <body>
        <%- include("partials/bar") -%><!-- /navbar -->
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <%- include("partials/sidebar") -%><!--/.sidebar-->
                    </div>
                    <!--/.span3-->
                    <div class="span9">
                        <div class="content">
                            <div class="module message">
                                <div class="module-head">
                                    <h3>
                                        Mensajes</h3>
                                </div>
                                <div class="module-option clearfix">
                                    <div class="pull-left">
                                        <div class="btn-group">
                                            <button class="btn">
                                                Inbox</button>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Inbox()</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                    </div>
                                </div>
                                <div class="module-body table">
                                    <table class="table table-message">
                                        <tbody>
                                            <tr class="heading">
                                                <td class="cell-check">
                                                    
                                                </td>
                                                <td class="cell-icon">
                                                </td>
                                                <td class="cell-author hidden-phone hidden-tablet">
                                                    Titulo
                                                </td>
                                                <td class="cell-title">
                                                    Descripcion
                                                </td>
                                                <td class="cell-icon hidden-phone hidden-tablet">
                                                </td>
                                                <td class="cell-time align-right">
                                                    Fecha
                                                </td>
                                            </tr>
                                            <% msgs.forEach((msg)=>{ %>
                                            <tr class="unread">
                                                <td class="cell-check">
                                                    <%= aux++ %>
                                                    <b></b>
                                                </td>
                                                <td class="cell-icon">
                                                   
                                                </td>
                                                <td class="cell-author hidden-phone hidden-tablet">
                                                    <%= msg.title %>
                                                </td>
                                                <td class="cell-title">
                                                    <%= msg.descripcion %>
                                                </td>
                                                <td class="cell-icon hidden-phone hidden-tablet">
                                                    <a href="/users/deleteMsg/<%= msg._id %>" class="btn btn-primary">Eliminar</a>
                                                </td>
                                                <td class="cell-time align-right">
                                                    <%= msg.time %>
                                                </td>
                                            </tr>
                                            <% })  %>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="module-foot">
                                </div>
                            </div>
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container">
                <b class="copyright">&copy; 2021 ESIME ZACATENCO </b> ICE.
            </div>
        </div>
</body>
