<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rada</title>
    <%- include("partials/headers") -%>
</head>
<body>
    <%- include("partials/bar") -%>
    <!-- /navbar -->
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <%- include("partials/sidebar") -%><!--/.sidebar-->
                </div>
                <!--/.span3-->
                <div class="span9">
                    <div class="content">
                        <div class="module">
                            <div class="module-head">
                                <h3>
                                    Todos los artistas</h3>
                            </div>
                            <div class="module-option clearfix">
                                <form>
                                <div class="input-append pull-left">
                                    <input type="text" class="span3" placeholder="Filter by name...">
                                    <button type="submit" class="btn">
                                        <i class="icon-search"></i>
                                    </button>
                                </div>
                                </form>
                            </div>
                            <div class="module-body">
                                <% for (var i=0; i < users.length; i=i+2){ %>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="media user">
                                            <a class="media-avatar pull-left" href="/users/perfil/<%= users[i].id %>">
                                                <img src="<%= users[i].imageURL%>" alt="<%= users[i].public_id %>">
                                            </a>
                                            <div class="media-body">
                                                <h3 class="media-title">
                                                    <%= users[i].grupo %>
                                                </h3>
                                                <p>
                                                    <small class="muted"><%= users[i].ide %></small></p>
                                                <div class="media-option btn-group shaded-icon">
                                                    <button class="btn btn-small">
                                                        <i class="icon-envelope"></i>
                                                    </button>
                                                    <button class="btn btn-small">
                                                        <i class="icon-share-alt"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% if(users[i+1]!=null){ %>
                                    <div class="span6">
                                        <div class="media user">
                                            <a class="media-avatar pull-left" href="/users/perfil/<%= users[i+1].id %>">
                                                <img src="<%= users[i+1].imageURL%>" alt="<%= users[i+1].public_id %>">
                                            </a>
                                            <div class="media-body">
                                                <h3 class="media-title">
                                                    <%= users[i+1].grupo %>
                                                </h3>
                                                <p>
                                                    <small class="muted"><%= users[i+1].ide %></small></p>
                                                <div class="media-option btn-group shaded-icon">
                                                    <button class="btn btn-small">
                                                        <i class="icon-envelope"></i>
                                                    </button>
                                                    <button class="btn btn-small">
                                                        <i class="icon-share-alt"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }else{} %>
                                </div>
                                
                                <!--/.row-fluid-->
                                <br />
                                <% } %>
                                <div class="pagination pagination-centered">
                                    <ul>
                                        <li><a href="#"><i class="icon-double-angle-left"></i></a></li>
                                        <li><a href="#">1</a></li>
                                        <li><a href="#"><i class="icon-double-angle-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/.content-->
                </div>
                <!--/.span9-->
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->
    <div class="footer">
        <div class="container">
            <b class="copyright">&copy; 2021 ESIME ZACATENCO </b> ICE.
        </div>
    </div>
</body>