<!DOCTYPE html>
<html lang="en">

<head>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Rada</title>
	<%- include("partials/headers") -%>
</head>
<body>
    <%- include("partials/bar") -%>
	<!-- /navbar -->
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
					<%- include("partials/sidebar") -%><!--/.sidebar-->
				</div><!--/.span3-->


				<div class="span9">
					<div class="content">

						<div class="module message">
							<div class="module-head">
								<h3>Administrador de tareas</h3>
							</div>
							<div class="module-option clearfix">
								<div class="pull-left">
									Menu : &nbsp;
									<div class="btn-group">
										<button class="btn">Todas</button>
										<button class="btn dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">Todas</a></li>
											<li class="divider"></li>
											<li><a href="/users/crearTarea">Nueva tarea</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="module-body table">								

								<table class="table table-message">
									
									<tbody>
										<tr class="heading">
											<td class="cell-icon">N°</td>
											<td class="cell-title">Pendientes</td>
											<td class="cell-status hidden-phone hidden-tablet">Estatus</td>
											<td class="cell-status hidden-phone hidden-tablet">Editar</td>
											<td class="cell-time align-right">Fecha</td>
										</tr>
										<% for (var i=0; i < tasks.length; i++){ %>
										<tr class="task">
											<td class="cell-icon"><i class="icon-checker"><%= i+1 %></i></td>
											<td class="cell-title"><%= tasks[i].tarea %></td>
											<td class="cell-status hidden-phone hidden-tablet">
												<a href="/users/turn/<%= tasks[i]._id %>" class="btn <%= tasks[i].status ? 'btn-success' : 'btn-danger' %>"></a>
											</td>
											<td class="cell-status hidden-phone hidden-tablet">
												<a href="/users/updateTask/<%= tasks[i]._id %>" class="btn btn-info">E</a>
												<a href="/users/eliminarTarea/<%= tasks[i]._id %>" class="btn btn-danger">B</a>
											</td>
											<td class="cell-time align-right"><%= tasks[i].time %></td>
										</tr>
									    <% } %>
									</tbody>
								</table>


							</div>
							<div class="module-foot">
							</div>
						</div>
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	<div class="footer">
		<div class="container">
			 

			<b class="copyright">&copy; 2021 ESIME ZACATENCO </b> ICE.
		</div>
	</div>
	<script type="text/javascript">
	
		$(document).ready(function() {
			$('.table-message tbody tr').click(
				function() 
				{
					$(this).toggleClass('resolved');
				}
			);
		} );
	</script>
</body>